bench/
paper/*
!paper/function_table/
paper/function_table/*
!paper/function_table/function_table.tex
!paper/function_table/test_function.sh
!paper/paper_animation.py
!paper/paper_figures.py
!paper/workflow.gv
core/Rearrangement/build/
**/__pycache__/
docs/core
docs/_docs/*
!docs/_docs/about.md
test/genome/genome.fa
manim/media
