bench/
barcode/sx/csvfiles/*
!barcode/sx/csvfiles/final_hgsgrna_libb_all_0811_NAA_scaffold_nbt_A1.csv
!barcode/sx/csvfiles/final_hgsgrna_libb_all_0811_NAA_scaffold_nbt_A2.csv
!barcode/sx/csvfiles/final_hgsgrna_libb_all_0811_NAA_scaffold_nbt_A3.csv
!barcode/sx/csvfiles/final_hgsgrna_libb_all_0811_NGG_scaffold_nor_G1.csv
!barcode/sx/csvfiles/final_hgsgrna_libb_all_0811_NGG_scaffold_nor_G2.csv
!barcode/sx/csvfiles/final_hgsgrna_libb_all_0811_NGG_scaffold_nor_G3.csv
barcode/tests/
tools/function_table/*
!tools/function_table/function_table.tex
!tools/function_table/test_function.sh
Rearrangement/build/
barcode/kpLogo/bin/
references/
tools/__pycache__/
test/*
!test/random.fq
!test/ref12.fa
paper/
barcode/test/*
!barcode/test/A2-g1n-3.fq
!barcode/test/A2-g1n-3.R2.fq
done
exit_with_error
pv-1.8.5/
renv/.gitignore
less-643/
barcode/kpLogo-1.1/
.RData
Python-3.12.1/
R-4.3.2/
py312/
web/users/
web/__pycache__/
web/running_query/