<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Jingwei Li">
        <meta name="description" content="web UI for rearrangement">
        <title>
            rearrangement
        </title>
        <style>
            h1 {text-align: center;}
        </style>
        <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    </head>

    <body>
        <h1>
            rearrangement (version: 1.0)
        </h1>

        <div id="app">
            <div>
                <input type="file" @change="getFileList" multiple><br>
                <span>"{{ percentage }}%"</span>
                <ol>
                    <li v-for="(file,index) in files">
                        {{ file.name }}
                    </li>
                </ol>
                <input v-model="username" placeholder="user name"><br>
                <input v-model="jobname" placeholder="job name"><br>
                <button @click="uploadFiles">upload</button>
            </div>
            <div>
                <textarea v-model="symlink" placeholder="symlink"></textarea><br>
                <button @click="addSymlink">add</button>
            </div>
            <ol>
                <li v-for="(href,name) in links">
                    <button @click="showFilesDirs(href, name)">{{ name }}</button>
                    <button v-if="name !== '../'" @click="deleteFilesDirs(href, name)">delete</button>
                    <span v-if="name.endsWith('.fq') || name.endsWith('.fastq') || name.endsWith('.fq.gz') || name.endsWith('.fastq.gz')">
                        <button @click="runFastq($event, href)">run</button>
                        <textarea v-model="ref1" placeholder="reference1"></textarea>
                        <textarea v-model="ref2" placeholder="reference2"></textarea>
                        <input v-model="cut1" placeholder="cleavage1">
                        <input v-model="cut2" placeholder="cleavage2">
                        <select v-model="NGGCCNtype1" :required>
                            <option>NGG</option>
                            <option>CCN</option>
                        </select>
                        <select v-model="NGGCCNtype2" :required>
                            <option>NGG</option>
                            <option>CCN</option>
                        </select>
                    </span>
                </li>
            </ol>
        </div>

        <script>
            // vue
            const { createApp } = Vue;
            createApp({
                data() {
                    return {
                        files: null,
                        username: null,
                        jobname: null,
                        percentage: 0,
                        currentdir: "users",
                        links: null,
                        symlink: null,
                        ref1: null,
                        ref2: null,
                        cut1: null,
                        cut2: null,
                        NGGCCNtype1: "NGG",
                        NGGCCNtype2: "NGG"
                    }
                },

                methods: {
                    getFileList(event) {
                        this.files = event.target.files;
                    },

                    onUploadProgress(progressEvent) {
                        this.percentage = Math.round((progressEvent.loaded * 100) / progressEvent.total);
                    },

                    async uploadFiles() {
                        if (!this.files) {
                            alert("file is not selected");
                            return;
                        }
                        if (!this.username) {
                            alert("user name is empty");
                            return;
                        }
                        if (!this.jobname) {
                            alert("job name is empty");
                            return;
                        }
                        try{
                            const response = await axios.putForm("/upload", {
                                username: this.username,
                                jobname: this.jobname,
                                files: this.files
                            },
                            {
                                onUploadProgress : this.onUploadProgress
                            });
                            alert(response.data)
                        } catch(error) {
                            alert(error);
                        }

                        this.queryHref(this.currentdir);
                    },

                    async addSymlink() {
                        if (!this.username) {
                            alert("user name is empty");
                            return;
                        }
                        if (!this.jobname) {
                            alert("job name is empty");
                            return;
                        }
                        if (!this.symlink) {
                            alert("symlink is empty");
                            return;
                        }
                        try {
                                const response = await axios.putForm("/symlink", {
                                    username: this.username,
                                    jobname: this.jobname,
                                    symlink: this.symlink
                                })
                                alert(response.data)
                                this.queryHref(this.currentdir);
                        } catch(error) {
                            alert(error)
                        }
                    },

                    async showFilesDirs(href, name) {
                        if (name.endsWith("/")) {
                            this.currentdir = href;
                            this.queryHref(this.currentdir);
                        } else {
                            try {
                                const response = await axios.get(href, {
                                    responseType: 'blob'
                                });
                                const link = document.createElement('a');
                                link.href = URL.createObjectURL(new Blob([response.data]));
                                link.download = response.headers['content-disposition'].split("filename=")[1];
                                document.body.appendChild(link);
                                link.click();
                                URL.revokeObjectURL(link.href);
                                document.body.removeChild(link);
                            } catch(error) {
                                alert(error);
                            }
                        }
                    },

                    async queryHref(href) {
                        try {
                            const response = await axios.get(href);
                            this.links = response.data;
                        } catch(error) {
                            alert(error);
                        }
                    },

                    async deleteFilesDirs(href, name) {
                        if (confirm(`delete ${name}`)) {
                            try {
                                const response = await axios.delete(href);
                                alert(response.data);
                            } catch(error) {
                                alert(error);
                            }
                            this.queryHref(href.split("/").slice(0, -1).join("/"));
                        }
                    },

                    async runFastq(event, href) {
                        if (!this.ref1) {
                            alert("reference1 is empty");
                            return;
                        }
                        if (!this.ref2) {
                            alert("reference2 is empty");
                            return;
                        }
                        if (!this.cut1) {
                            alert("cleavage1 is empty");
                            return;
                        }
                        if (!this.cut2) {
                            alert("cleavage2 is empty");
                            return;
                        }
                        event.target.innerHTML = "running";
                        try {
                            const response = await axios.putForm("/run" + href, {
                                ref1: this.ref1,
                                ref2: this.ref2,
                                cut1: this.cut1,
                                cut2: this.cut2,
                                NGGCCNtype1: this.NGGCCNtype1,
                                NGGCCNtype2: this.NGGCCNtype2
                            });
                            alert(response.data);
                        } catch(error) {
                            alert(error)
                        } finally {
                            event.target.innerHTML = "run";
                            this.queryHref(href.split("/").slice(0, -1).join("/"));
                        }
                    }
                },

                created() {
                    this.queryHref(this.currentdir);
                }

            }).mount('#app');
        </script>
    </body>
</html>