.current {
  color: green;
}

.main {
  margin-left: 120px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100px;
  overflow-x: hidden;
  background: #DDDDDD;
  padding: 10px 20px;
  transition: all 0.4s ease;
}

.sidebar:hover {
  width: 400px;
}

.indent {
  margin-left: 18.5px;
}
